<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include('../_templates/_head.ejs')%>
</head>
<body>

<header>
    <%-include('../_templates/_header.ejs')%>
</header>

<div class="detail">
    <main>
        본문 입니다! ~~~!!~~~!<br />
        시즌 1 끝
    </main>
</div>

<footer>
    <%-include('../_templates/_footer.ejs')%>
</footer>

</body>
</html>